{% extends 'base.html.twig' %}

{% block title %}Edit Computers{% endblock %}

{% block body %}
    <h1>Edit Computers</h1>

    {{ include('computers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('computers_index') }}">back to list</a>

    {{ include('computers/_delete_form.html.twig') }}
{% endblock %}
