{% extends 'base.html.twig' %}

{% block title %}Edit Devices{% endblock %}

{% block body %}
    <h1>Edit Devices</h1>

    {{ include('devices/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('devices_index') }}">back to list</a>

    {{ include('devices/_delete_form.html.twig') }}
{% endblock %}
