{% extends 'base.html.twig' %}

{% block title %}New Devices{% endblock %}

{% block body %}
    <h1>Create new Devices</h1>

    {{ include('devices/_form.html.twig') }}

    <a href="{{ path('devices_index') }}">back to list</a>
{% endblock %}
