{% extends 'base.html.twig' %}

{% block title %}New Components{% endblock %}

{% block body %}
    <h1>Create new Components</h1>

    {{ include('components/_form.html.twig') }}

    <a href="{{ path('components_index') }}">back to list</a>
{% endblock %}
